<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <style>
        .box {
            text-align: center;
            border-style: solid;
            width: 400px;
            padding: 10px;
        }

        .center_text {
            text-align: center;
            margin: 5px;
        }

        .bold_text {
            font-weight: bold;
        }

        .buttonW {
            width: 50px;
        }
    </style>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>
    <div id="app" class="box">
        <div><input type="text" ref="num1" v-model="state.num1" class="center_text bold_text"></div>
        <div class="center_text bold_text">+</div>
        <div><input type="text" ref="num1" v-model="state.num2" class="center_text bold_text"></div>
        <div><button class="center_text buttonW bold_text" @click="add()">=</button></div>
        <div class="center_text bold_text" ref="result">{{result}}</div>
    </div>
</body>
<script>
    const {createApp, reactive, computed} = Vue
    createApp({
        setup() {
            const state = reactive({
                num1: '0',
                num2: '0',
                result: 0
            })
            const add = function() {
                state.result = parseInt(state.num1) + parseInt(state.num2)
            }
            const result = computed(function() {
                return parseInt(state.num1) + parseInt(state.num2)
            })
            return {state, add, result}
        }
    }).mount('#app')
</script>
</html>